<head>
    <link href='https://fonts.googleapis.com/css?family=Khmer' rel='stylesheet' type='text/css'>
</head>
<template name="layout">
    {{> Template.dynamic template=main}}
    <div class="container">
        {{checkUser currentUser}}
        {{> Template.dynamic template=content}}
    </div>
</template>


<template name="mainLayout">
    <ul id="slide-out-profile" class="side-nav">
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
    </ul>
    <nav class="blue">
        <a href="#" class="brand-logo center" style="font-family: 'Khmer OS Muol Pali'">ប្រលោមលោកខ្មែរ</a>
        <ul class=" left hide-on-med-and-down">
            {{#if currentUser}}
                <li><a  data-activates="slide-out-profile"
                       class="slide-profile show-on-large"><img src="https://placehold.it/50x50" alt="" class="valign circle responsive-img left">&nbsp;{{currentUser.username}}</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
            {{/if}}
            <li><a href="#"><i class="zmdi zmdi-search"></i></a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
            {{#if currentUser}}
                <li><a href="#" class="logout"><i class="tiny zmdi zmdi-assignment-return left"></i>Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
            {{/if}}
            <div class="divider"></div>
            <li><a href="#!">Second Sidebar Link</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>
</template>